@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

.loader {
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
